@{
    ViewData["Title"] = "Cars";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">

                <img class="card-img-top" src="~/images/Lamborghini_Aventador_Ultimate.jpg">
                <div class="card-body">
                    <h5 class="card-title">Lamborghini Aventador</h5>
                    <p class="card-text">₹ 5000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment2" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Buggati_Divo.jpg">
                <div class="card-body">
                    <h5 class="card-title">Buggati_Divo</h5>
                    <p class="card-text">₹ 7000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Porsche_911-GT3.jpg">
                <div class="card-body">
                    <h5 class="card-title">Porsche 911-GT3</h5>
                    <p class="card-text">₹ 4000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment3" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Ferrari_SF90.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Ferrari SF-90</h5>
                    <p class="card-text">₹ 8000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment4" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Koenigsegg_Jesko.jpg" alt="Hennessey Venom F5">
                <div class="card-body">
                    <h5 class="card-title">Koenigsegg Jesko</h5>
                    <p class="card-text">₹ 9000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment5" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Mercedes_AMG-GT2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Mercedes AMG GT</h5>
                    <p class="card-text">₹ 3000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment6" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/BMW_M4-GTS.jpg">
                <div class="card-body">
                    <h5 class="card-title">BMW M4 GTS</h5>
                    <p class="card-text">₹ 2500 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment7" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/Henessy_Venom-F5.jpg">
                <div class="card-body">
                    <h5 class="card-title">Henessy Venom F5</h5>
                    <p class="card-text">₹ 8000 Per Hour /-</p>
                    <a asp-controller="Home" asp-action="Payment8" class="btn btn-primary btn-block mb-4" style="color: white;">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
